# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
coverage

# Node dependencies
node_modules
package-lock.json

# Logs
logs
*.log
npm-debug.log

# Misc
.DS_Store
.idea
.vscode
Thumbs.db
*.iml
.fleet

# Local env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
