.method a {
  flex-direction: column;
  align-items: center;
}
.social,
.method a {
  text-align: center;
  display: flex;
  font-size: 1.6em;
  display: flex;
  .social__icon,
  .icon {
    font-size: 12px;
    text-align: center;
    line-height: 1.55;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    // border: 1px solid #979797;
    // border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    a,
    i {
      transition: color, background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
      color: #fff;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      // background-color: #263645;
      // border: 1px solid #263645;
      a,
      i {
        color: $red;
      }
    }
  }
  span {
    font-size: 11px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
    border-bottom: 4px solid #e1f2f2;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
  }
  .icon {
    width: 27px;
    height: 27px;
    border: 1px solid white;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    &:not(:last-child) {
      margin: 0;
    }
    i {
      color: white;
      font-size: 13px;
    }
  }
}

.rendered-content a,
.about-rendered-content a,
.cookies .privacy-link {
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.1px;
  text-align: left;
  color: currentColor;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    height: 1px;
    background-color: $secondary-dark;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 0%;
    bottom: -1px;
    height: 1px;
    background-color: $red;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    &:after {
      max-width: 100%;
    }
  }
  &:visited {
    // color: $primary;
    &:before,
    &:after {
      max-width: 100%;
    }
  }
}

.read-more {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  font-weight: 700;
  margin-bottom: 22px;
  font-weight: 700 !important;
  margin-top: 13px;
  text-decoration: none;
  border-bottom: none;
  width: auto;
  text-decoration: none;
  border: none;
  padding: 0;
  transition: color 0.3s ease-in-out;
  &:after,
  &:before {
    display: none;
  }
  &:hover {
    color: $red;
    text-decoration: none;
  }
}
.button {
  border: none;
  color: currentColor;
  padding: 0;
  margin: 0;
  box-shadow: none;
  font-size: $font-size;
  line-height: 1.5;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  text-align: center;
  white-space: nowrap;
  border-radius: 0;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
  &--cta {
    &--inverse {
      font-family: $family-primary;
      color: $secondary;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      padding: 10px 30px;
      text-decoration: none;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: 5px;
        height: 2px;
        background-color: $secondary;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 15px;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        text-decoration: none;
        color: $secondary;
        &:after {
          max-width: 30px;
        }
      }
    }
  }
  &--home-cta {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 1px;
    text-align: center;
    color: $secondary;
    border: 1px solid white;
    background-color: white;
    padding: 20px;
    cursor: pointer;
    height: 40px;
    text-transform: uppercase;
    width: auto;
    border-radius: 2px;
    text-align: center;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    &:hover {
      background-color: rgba(255, 255, 255, 0.36);
      color: white;
      outline-offset: -1px;
    }
  }
  &--contact {
    text-transform: uppercase;
    background-color: $secondary;
    color: #ffffff;
    letter-spacing: 2px;
    border: none;
    outline: 1px solid #ffffff;
    outline-offset: -2px;
    font-weight: 400 !important;
    font-size: 12px !important;
    -webkit-appearance: button;
    margin-top: 0;
    margin-bottom: 96px;
    width: 175px;
    height: 38px;
    text-align: center;
    text-transform: uppercase !important;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    &:hover {
      background-color: #e7ebee;
      color: $secondary;
      outline: 1px solid $secondary;
      outline-offset: -1px;
    }
  }
  &--main,
  &--destination {
    text-transform: uppercase;
    background-color: $secondary;
    color: #ffffff;
    letter-spacing: 2px;
    border: none;
    outline: 1px solid #ffffff;
    outline-offset: -2px;
    font-weight: 500;
    margin: 0 auto;
    font-size: 12px;
    font-size: 0.75rem;
    min-width: 175px;
    width: auto;
    padding: 0 20px;
    height: 38px;
    text-align: center;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    &:hover {
      background-color: #e7ebee;
      color: $secondary;
      outline: 1px solid $secondary;
      outline-offset: -1px;
    }
  }
  &--is-link {
    font-size: $font-small;
    text-transform: capitalize;
    font-weight: normal;
  }
  &--back-to-top {
    border: solid 1px #efe9e6;
    background-color: transparent;
    border-radius: 100px;
    width: calc(100% - 32px);
    height: 48px;
    padding: 0 22px 0 $gap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-align: center;
    color: #00101e;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
    &:hover {
      background-color: #00101e;
      border: solid 1px #00101e;
      color: white;
      i {
        color: white;
      }
    }
    i {
      color: #00101e;
      transition: all 0.4s ease-in-out;
    }
    @media (min-width: $mobile-large) {
      display: inline-flex;
      text-align: center;
      margin: 0 auto;
      width: auto;
      min-width: 200px;
    }
  }
}

h3 {
  color: $secondary;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.8px;
  @media (min-width: $tablet) {
    font-size: 24px;
  }
  .red {
    color: $red;
    line-height: 1;
  }
}

.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}
