@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900');

.social {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url('/images/icons.svg');
  background-repeat: no-repeat;
  transition: background-position 0.2s ease;

  &--behance {
    background-position: -0px -0px;
  }

  &--linkedin {
    background-position: -24px -0px;
  }

  &--dribbble {
    background-position: -48px -0px;
  }

  &--instagram {
    background-position: -72px -0px;
  }

  &--behance:hover {
    background-position: -0px -24px;
  }

  &--linkedin:hover {
    background-position: -24px -24px;
  }

  &--dribbble:hover {
    background-position: -48px -24px;
  }

  &--instagram:hover {
    background-position: -72px -24px;
  }
}
